.contact-info-container {
    background: var(--primary-color);
    color: #e8edf0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.is-invalid {
    border-color: red;
}

.invalid-feedback {
    color: red;
}

.success-message {
    transition: transform 0.5s ease, opacity 0.5s ease;
}

@keyframes uf-animation {
    0%   {top:0px;}
    50%  {top:-30px;}
    100% {top:0px;}
}