/* App.css */
:root {
  --primary-color: #12293d;
  --primary-color-rgb: 239, 35, 60;
  --secondary-color: #F9F9F9;
  --headline-font-color: #333;

}

html, body, #root {
  height: 100%; /* Ensure full height of viewport */
  margin: 0; /* Remove default margins */
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Take at least 100% of the viewport height */
}

.content {
  flex: 1 !important; /* This makes the content area take up available space */
}

.footer {
  /* Your footer styles */
  background-color: #f8f9fa;
  padding: 20px 0;
  text-align: center;
}

.fade-in {
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.slide-up {
  animation: slideOutUp 0.5s ease-in;
}

@keyframes slideOutUp {
  from {
    transform: translateY(-200px);
  }
  to {
    transform: translateY(0);
  }

}

@keyframes zoomIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.zoomIn {
  animation: zoomIn 0.5s ease-in-out;
}

