.contact-info-container {
    background: var(--primary-color);
    color: #e8edf0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.is-invalid {
    border-color: red;
}

.invalid-feedback {
    color: red;
}
