.about-bg {
    height: 400px;
    position: relative;
    background-size: cover;
    background: url("../../../assets/images/bg-wide.jpg") no-repeat fixed center;

    background-position-y: -600px;
}